 <p-toast></p-toast>
    <div class="min-h-screen flex items-center justify-center bg-gray-50 px-4">
      <div class="bg-white p-8 rounded-2xl shadow-sm border border-gray-100 w-full max-w-md">
        
        <div class="text-center mb-8">
          <h1 class="text-3xl font-bold text-gray-900 tracking-tighter">Đăng ký</h1>
          <p class="text-gray-500 mt-2">Tạo tài khoản để mua sắm dễ dàng hơn</p>
        </div>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-5">
          
          <div class="flex flex-col gap-2">
            <label class="text-sm font-medium text-gray-700">Họ và tên</label>
            <input pInputText formControlName="fullName" placeholder="Nguyễn Văn A" class="w-full" />
            <small *ngIf="registerForm.get('fullName')?.invalid && registerForm.get('fullName')?.touched" class="text-red-500">Vui lòng nhập họ tên.</small>
          </div>

          <div class="flex flex-col gap-2">
            <label class="text-sm font-medium text-gray-700">Email</label>
            <input pInputText formControlName="email" placeholder="example@gmail.com" class="w-full" />
            <small *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-red-500">Email không hợp lệ.</small>
          </div>

          <div class="flex flex-col gap-2">
            <label class="text-sm font-medium text-gray-700">Mật khẩu</label>
            <p-password formControlName="password" [toggleMask]="true" styleClass="w-full" inputStyleClass="w-full" 
                [feedback]="true" promptLabel="Nhập mật khẩu" weakLabel="Yếu" mediumLabel="Trung bình" strongLabel="Mạnh"></p-password>
             <small *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-red-500">Mật khẩu phải có ít nhất 6 ký tự.</small>
          </div>

          <button pButton label="Đăng ký tài khoản" type="submit" [loading]="isLoading" class="w-full bg-pink-600 border-pink-600 hover:bg-pink-700 font-bold py-3"></button>
        </form>

        <div class="mt-8 text-center text-sm text-gray-500">
          Đã có tài khoản? 
          <a routerLink="/auth/login" class="text-pink-600 font-bold hover:underline">Đăng nhập</a>
        </div>
      </div>
    </div>